// generic styles
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: nunito;
}

.container {
  display: flex;
  width: 100%;

  &--fluid {
    height: 100vh;
  }
}

.cta {
  border: black 5px solid;
  padding: 1rem 3rem;
  width: fit-content;
  border-radius: 5rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 500;

  &:hover {
    background-color: #e3ae58;
    border-color: #e3ae58;
    color: white;
  }
}

.bold {
  font-weight: 900;
}

// block specific styles
.avatar {
  flex: 1 1 50%;

  &__img {
    width: 100%;
    object-fit: cover;
  }
}

.hero {
  flex: 1 1 50%;
  font-family: nunito;
  background-color: #f1e2d7;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    gap: 1rem;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: gray;
  }

  &__title {
    font-weight: 500;
    color: gray;
    text-transform: capitalize;

    &--bold {
      color: black;
    }
  }

  &__list {
    margin-left: 1.25rem;
  }
}

// skills section start
$color-yellow: #e3ae57;

.skills {
  display: flex;
  width: 100%;
  flex-flow: wrap row;

  &__meta {
    flex: 1 1 50%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 300;

    &--white {
      color: white;
    }
  }

  &__subtitle {
    color: $color-yellow;
    font-size: 1rem;
    font-weight: normal;
    margin: 2rem 0;

    &--white {
      color: white;
      margin: 0 0 2rem 0; // top right bottom left
    }
  }

  &__para {
    color: gray;

    &:nth-of-type(even) {
      margin-top: 1rem;
    }
  }

  &__right {
    display: flex;
    flex: 1 1 50%;
    background-color: $color-yellow;
  }

  &__img-box {
    flex: 1 1 50%;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__block {
    flex: 1 1 50%;
    padding: 2rem;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1.5rem;

  // &:not(:last-child) {
  //   border-bottom: 5px solid gray;
  // }

  &__row {
    display: flex;

    &:nth-of-type(1) {
      justify-content: space-between;
      font-size: 0.8rem;
    }

    &:nth-of-type(2) {
      position: relative;
    }
  }

  &__count {
    color: white;
    font-weight: 400;
  }

  &__progress {
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
  }

  &__filled {
    width: 10px;
    height: 2px;
    background-color: black;
    position: absolute;
  }
}
