// generic styles
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: nunito;
}

.container {
  display: flex;
  width: 100%;

  &--fluid {
    height: 100vh;
  }
}

.cta {
  border: black 5px solid;
  padding: 1rem 3rem;
  width: fit-content;
  border-radius: 5rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 500;

  &:hover {
    background-color: #e3ae58;
    border-color: #e3ae58;
    color: white;
  }
}

.bold {
  font-weight: 900;
}

// block specific styles
.avatar {
  flex: 1 1 50%;

  &__img {
    width: 100%;
    object-fit: cover;
  }
}

.hero {
  flex: 1 1 50%;
  font-family: nunito;
  background-color: #f1e2d7;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    gap: 1rem;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: gray;
  }

  &__title {
    font-weight: 500;
    color: gray;
    text-transform: capitalize;

    &--bold {
      color: black;
    }
  }

  &__list {
    margin-left: 1.25rem;
  }
}

// skills section start
$color-yellow: #e3ae57;

.skills {
  display: flex;
  width: 100%;
  flex-flow: wrap row;

  &__meta {
    flex: 1 1 50%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 300;

    &--white {
      color: white;
    }
  }

  &__subtitle {
    color: $color-yellow;
    font-size: 1rem;
    font-weight: normal;
    margin: 2rem 0;

    &--white {
      color: white;
      margin: 0 0 2rem 0; // top right bottom left
    }
  }

  &__para {
    color: gray;

    &:nth-of-type(even) {
      margin-top: 1rem;
    }
  }

  &__right {
    display: flex;
    flex: 1 1 50%;
    background-color: $color-yellow;
  }

  &__img-box {
    flex: 1 1 50%;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__block {
    flex: 1 1 50%;
    padding: 2rem;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1.5rem;

  // &:not(:last-child) {
  //   border-bottom: 5px solid gray;
  // }

  &__row {
    display: flex;

    &:nth-of-type(1) {
      justify-content: space-between;
      font-size: 0.8rem;
    }

    &:nth-of-type(2) {
      position: relative;
    }
  }

  &__count {
    color: white;
    font-weight: 400;
  }

  &__progress {
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
  }

  &__filled {
    width: 10px;
    height: 2px;
    background-color: black;
    position: absolute;
  }
}

// skills section end

// my background section start

.exp {
  display: flex;
  width: 100%;
  height: 450px;
  flex-flow: wrap row;

  &--left {
    flex-direction: row;
  }

  &--right {
    flex-direction: row-reverse;
  }

  &__img-box,
  &__info {
    flex: 1 1 50%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__info {
    padding: 3rem;
    color: white;

    &--brown {
      background: hsl(15, 78%, 61%);
    }

    &--yellow {
      background-color: #e3ae58;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 2.5rem;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__icon i {
    font-size: 2rem;
  }

  &__heading {
    font-weight: 300;
    font-size: 1.6rem;
  }

  &__dates {
    color: #673333;
    font-size: 1rem;
    font-weight: 800;
  }

  &__desc {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
  }
}

// my background section end

// quote section start
.quote {
  height: 400px;
  width: 100%;
  color: white;

  &__box {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    font-size: 3rem;
  }

  &__text {
    font-size: 2rem;
    max-width: 70%;
    text-align: center;
  }
}

// quote section end

// header section start

.header {
  display: flex;
  width: 100%;
  height: 4.25rem;
  background-color: white;
  align-items: center;
  padding: 0 6rem;
  position: fixed;
  z-index: 9;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);

  &__link {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
  }

  &__nav {
    // display: flex;
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  &__nav-link {
    font-size: 0.75rem;
    padding: 0 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s ease;

    &:hover {
      color: #e3ae57;
    }
  }
}

// header section end

// footer section start
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10rem 0;
  color: gray;

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  &__link > i {
    padding: 1.25rem;
    color: gray;
    // width: 1.25rem;
    // height: 1.25rem;

    &:hover {
      border-radius: 50%;
      background: #e3ae57;
      color: white;
    }
  }
}
